{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<title>Radio Anori/Passagens</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'css/css-lista_viagem.css' %}">

<link rel="stylesheet" href="{% static 'css/css-passagem.css' %}">
<link rel="stylesheet" href="{% static 'css/css-navbarmenu.css' %}">

<script type="text/javascript" src="{% static 'js/navbarmenu.js' %}"></script>
<script type="text/javascript" src="{% static 'js/carrinho-modal.js' %}"></script>


<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<div>
	<div id="flipkart-navbar">
	    <div class="container-fluid">
	        <div class="row row1">
	            
	        </div>
	        <div class="row row2">
	            <div class="col-sm-2 col-md-2">
	                <h2 style="margin:0px;"><span class="smallnav menu" onclick="openNav()">☰ beiraonline.com</span></h2>
	                <h1 style="margin:0px;" ><a href="/" ><span class="largenav">beiraonline.com</span></a></h1>
	            </div>
	            <div class="col-sm-8 col-md-8 col-xs-11">	               
	                
	            </div>
	            <!-- <div class="cart largenav col-sm-2 col-md-2">
	                <a class="cart-button">
	                    <i class="fa fa-shopping-cart" aria-hidden="true">Carrinho R${{total}}</i>
	                </a>
	            </div> -->
	        </div>
	    </div>
	</div>
	</div>
	<div id="mySidenav" class="sidenav">
	    <div class="container" style="background-color: #2874f0; padding-top: 10px;">
	        <h1 style="margin:0px;" ><a href="/passagens" ><span class="sidenav-heading">beiraonline.com</span></a></h1>
	        <!--  <span class="sidenav-heading">beiraonline.com</span>-->
	        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
	    </div>
	    <a href="#">Inicio</a>
	    <a href="#">Promoções</a>
	    <a href="#">Contato</a>
	    <a href="#">Nosso compromisso</a>
	</div>
	<div class="container">
		<div class="row">
			<div class="[ col-xs-12 col-sm-offset-2 col-sm-8 ]">
				<div class="form-group">
	            	<label for="origem-modal" class="col-form-label">Origem:</label>
	            	{{origem}}
	          	</div>
	          	<div class="form-group">
	            	<label for="inteira-modal" class="col-form-label">Passagen Inteira:</label>
	            	{{inteira}}
	          	</div>
				<div class="form-group">
	            	<label for="meia-modal" class="col-form-label">Passagen Meia:</label>
	            	{{meia}}
	          	</div>
	          	<div class="form-group">
	            	<label for="total" class="col-form-label">Total:</label>
	            	{{total}}
	          	</div>
	          	<form class="form-horizontal" role="form" action="{% url 'pagseguroAPI' pk=carrinho.pk %}" method="POST">{% csrf_token %}
	          	
		          	<input type="hidden"  class="form-control" name="origem" id="recipient-name" value='{{origem}}'>
		            <input type="hidden"  class="form-control" name="destino" id="destino" value="{{destino}}">
		         	<input type="hidden"  class="form-control" name="data_viagem" id="data_viagem" value="{{data_viagem}}">
		            <input type="hidden"  class="form-control" name="inteira" id="inteira-modal" value="{{inteira}}">
		            <input type="hidden"  class="form-control" name="meia" id="meia-modal" value="{{meia}}">
		            <input type="hidden"  class="form-control" name="total" id="total-modal" value="{{t}}">
		            <input type="hidden"  class="form-control" name="pk" id="pk" value="{{v.pk}}">
	          	
					<a class="btn btn-primary" href="javascript:window.history.go(-1)"><span class="#"></span>Voltar</a>

					<button type="submit" class="btn btn-success btn-block">Comprar</button>
		        </form>
		    </div>				
	    </div>
		<div>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
		</div>
	</div>
		
	<footer>
	  <div class="footerHeader" ></div>
	   <div class="row">
		<div class="col-md-4" >
		    <h3><strong>beiraonline.com</strong></h3>
		    <p>
		        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
		    </p>
		</div>
		
		<div class="col-md-4 payment">
		    <h4 style="color: white;">Formas de Pagamento</h4>
		    <div class="col-md-2"><a href="#" ><img src="{% static "imagens/visa-card.png" %}" class="img-thumbnail"></a></div>
		    <div class="col-md-2"><a href="#" ><img src="{% static "imagens/american-express-3.png" %}" class="img-thumbnail" ></a></div>
		    <div class="col-md-2"><a href="#" ><img src="{% static "imagens/mastercard-card.png" %}" class="img-thumbnail"  ></a></div>
		</div>
		<div class="col-md-4" >
		    <h4 style="color: white;">Contato</h></h4>
		    <ul>
		        <li>Fone : (92) 99252 - 7342</li>
		        <li>E-mail : beiraonline@beiraonline.com</li>	        
		    </ul>
		    <ul class="sm">
		        <li><a href="#" ><img src="https://www.facebook.com/images/fb_icon_325x325.png" class="img-responsive"></a></li>
		        <li><a href="#" ><img src="https://lh3.googleusercontent.com/00APBMVQh3yraN704gKCeM63KzeQ-zHUi5wK6E9TjRQ26McyqYBt-zy__4i8GXDAfeys=w300" class="img-responsive" ></a></li>
		        <li><a href="#" ><img src="http://playbookathlete.com/wp-content/uploads/2016/10/twitter-logo-4.png" class="img-responsive"  ></a></li>
		    </ul>
		</div>
    </div>
	</footer>
	
	<div class="modal" id="my_modal" tabindex="-1" role="dialog">
	  <div class="modal-dialog">
	    <div class="modal-content">
	    <form class="navbar-form"  method="POST" action="lista_atualizar">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	          <h4 class="modal-title">Passaeiros</h4>
	      </div>
	      <div class="modal-body">
	      	<div class="form-group">
	            <label for="recipient-name" class="col-form-label">Inteira</label>
	            <input type="text" class="form-control" id="inteiraModal">
	          </div>
	          <div class="form-group">
	            <label for="message-text" class="col-form-label">Meia</label>
	            <textarea class="form-control" id="meiaModal"></textarea>
	          </div>
	      <div class="modal-footer">
	        <input type="submit" name="submit" value="Confirmar" class="btn btn-primary btn-large">
      		<a class="btn btn-primary" href="{% url 'index-home'  %}"> OK</a>
	      </div>
	      </div>
	      </form>
	    </div>
	  </div>
	</div>	
	
	<!-- Modal bootstrap -->
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">Passagens</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <form method="POST" >{% csrf_token %}
	            
	            <input type="hidden"  class="form-control" name="origem" id="recipient-name">
	            <input type="hidden"  class="form-control" name="destino" id="destino">
	            <input type="hidden"  class="form-control" name="data_viagem" id="data_viagem">
	         	
	          <div class="form-group">
	            {{origem}} - {{destino}} - {{data_viagem}}
	          </div>
	          
	          <div class="form-group">
	            <label for="inteira-modal" class="col-form-label">Inteira</label>
	            <input type="text" class="form-control" name="inteira" id="inteira-modal">
	          </div>
	          <div class="form-group">
	            <label for="text" class="col-form-label">Meia</label>
	            <textarea class="form-control" name="meia" id="meia-modal"></textarea>
	          </div>
	        	<div class="modal-footer">
	        		<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	        		<button type="submit" class="btn btn-primary">Alterar</button>
	      		</div>
	      	</form>
	      </div>
	      
	    </div>
	  </div>
	</div>
	
	<script type="text/javascript">
	  $('#exampleModal').on('show.bs.modal', function (event) {
	  	var button = $(event.relatedTarget) // Button that triggered the modal
	  	var recipient = button.data('whatever') // Extract info from data-* attributes
	  	var recipientnome = button.data('whatevernome')
	  	var destino = button.data('destino')
	  	var recipientinteira = button.data('whateverinteira')
	  	var recipientmeia = button.data('whatevermeia')
	  	// If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
	  	// Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
	  	var modal = $(this)
	  	modal.find('.modal-title').text('Passagem para ' + recipientnome)
	  	modal.find('#recipient-name').val(recipientnome)
	  	modal.find('#destino').val(destino)
	  	modal.find('#inteira-modal').val(recipientinteira)
	  	modal.find('#meia-modal').val(recipientmeia)
	})
</script>

</body>
</html>